<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.

-->
<launch>
  <arg name="verbose" default="false" doc="Enable verbose output" />
  <arg name="ip" default="192.168.74.10" doc="The IP of the gps" />
  <arg name="port" default="2000" doc="The port to use" />
  <arg name="frame_id" default="gps" doc="The frame of the gps data" />
  <arg name="imu_frame_id" default="imu" doc="The frame of the imu data" />
  <arg name="use_binary_messages" default="true" doc="True if recieving binary data from hardware" />
  <node name="nodelet_manager" pkg="nodelet" type="nodelet" args="manager"/>

  <node name="novatel_gnss_imu"
        pkg="nodelet" type="nodelet"
        args="load novatel_gps_driver/novatel_gps_nodelet nodelet_manager" >

    <remap from="imu" to="imu_raw"/>
    <param name="verbose" value="$(arg verbose)" />
    <param name="device" value="$(arg ip):$(arg port)" />
    <param name="port" value="$(arg port)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="imu_frame_id" value="$(arg imu_frame_id)" />
    <param name="use_binary_messages" value="$(arg use_binary_messages)"/>
    <param name="connection_type" value="tcp"/>

    <rosparam command="load" file="$(find novatel_gps_driver)/config/parameters.yaml" />
  </node>

  <node name="novatel_gps_nodelet_wrapper"
      pkg="nodelet" type="nodelet"
      args="load novatel_gps_driver/novatel_gps_nodelet_wrapper nodelet_manager" >

    <rosparam command="load" file="$(find novatel_gps_driver)/config/wrapper_parameters.yaml" />
  </node>
</launch>
