<?xml version="1.0"?>
<launch>
  <node name="novatel"
        pkg="nodelet" type="nodelet"
        args="standalone novatel_gps_driver/novatel_gps_nodelet">
    <rosparam>
      verbose: true
      connection_type: udp
      device: 10.1.102.210:2002
      frame_id: gps
      use_binary_messages: true
      publish_imu_messages: true
      imu_frame_id: imu
      imu_sample_rate: 100
      imu_rate: 100
      publish_novatel_positions: true
      publish_novatel_velocity: true
      publish_range_messages: true
      publish_time_messages: true
      publish_nmea_messages: true
      publish_trackstat: true
      publish_diagnostics: true
      publish_sync_diagnostic: true
      wait_for_position: false
     </rosparam>
  </node>

</launch>
